<h1>マイページ</h1>

<lavel>登録情報</lavel>

<%= link_to "編集する", edit_my_page_path, class: "btn btn-primary" %>
<%= link_to "パスワードを変更する", "#", class: "btn btn-primary" %>


<table class = "table table-bordered">
	<tbody>
		<tr>
			<th>氏名</th>
			<td><%= @my_data.last_name %> <%= @my_data.first_name %></td>
		</tr>
		<tr>
			<th>カナ</th>
			<td><%= @my_data.kana_last_name %> <%= @my_data.kana_first_name %></td>
		</tr>
		<tr>
			<th>郵便番号</th>
			<td><%= @my_data.postal_code %></td>
		</tr>
		<tr>
			<th>住所</th>
			<td><%= @my_data.address %></td>
		</tr>
		<tr>
			<th>電話番号</th>
			<td><%= @my_data.telephone_number %></td>
		</tr>
		<tr>
			<th>メールアドレス</th>
			<td><%= @my_data.email %></td>
		</tr>
	</tbody>
</table>

<label>配送先</label>

<%= link_to "一覧を見る", "#", class: "btn btn-primary" %>

<br>
<label>注文履歴</label>
<%= link_to "一覧を見る", "#", class: "btn btn-primary" %>

