<div class = "row">
	<div class = "col-xs-offset-2">
		<h3>商品一覧</h3>
	</div>
</div>
<br>

<div class = "row">
	<div class = "col-xs-offset-10">
		<%= link_to new_admin_item_path do %>
			<span class="glyphicon glyphicon-plus-sign" aria-hidden="true" style = "font-size: 40px; color:#008000;"></span>
		<% end %>
	</div>
</div>
<br>

<div class = "row">
	<div class = "col-xs-1">
	</div>
	<div class = "col-xs-10">
		<table class = "table" style = "border-bottom: solid; border-width: 1px; border-color: #ddd;">
			<thead>
				<tr class = "active">
					<th>商品ID</th>
					<th>商品名</th>
					<th>税抜価格</th>
					<th>ジャンル</th>
					<th>ステータス</th>
				</tr>
			</thead>

			<tbody>
				<% @items.each do |item| %>
					<tr>
						<td><%= item.id %></td>
						<td>
							<%= link_to admin_item_path(item.id) do %>
								<%= item.name %>
							<% end %>
						</td>
						<td><%= item.non_taxed_price %></td>
						<td><%= item.genre.name %></td>
						<td>
							<% if item.is_active == true %>
								<p>販売中</p>
							<% else %>
								<p>販売停止中</p>
							<% end %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class = "col-xs-1">
	</div>
</div>

