<div class = "row">
	<div class = "col-xs-offset-2">
		<h3>商品新規登録</h3>
	</div>
</div>
<br>

<%= render "admin/admins/shared/error_messages", resource: @item %>
<%= form_for(@item, url: admin_items_path) do |f| %>

<div class = "row">
	<div class = "col-xs-4">
		<%= f.attachment_field :item_image %>
	</div>
	<div class = "col-xs-8">
		<div class = "row">
			<div class = "col-xs-2">
				<label>商品名</label>
			</div>
			<div class = "col-xs-6">
				<%= f.text_field :name %>
			</div>
			<div class = "col-xs-4">
			</div>
		</div>
		<br>

		<div class = "row">
			<div class = "col-xs-2">
				<label>商品説明</label>
			</div>
			<div class = "col-xs-6">
				<%= f.text_area :explanation, style: "width: 70%; height: 150px;" %>
			</div>
			<div class = "col-xs-4">
			</div>
		</div>
		<br>

		<div class = "row">
			<div class = "col-xs-2">
				<label>ジャンル</label>
			</div>
			<div class = "col-xs-6">
				<%= f.collection_select :genre_id, @genres, :id, :name, :prompt => "--選択してください--" %>
			</div>
			<div class = "col-xs-4">
			</div>
		</div>
		<br>

		<div class = "row">
			<div class = "col-xs-2">
				<label>税抜価格</label>
			</div>
			<div class = "col-xs-6">
				<%= f.text_field :non_taxed_price %><span>円</span>
			</div>
			<div class = "col-xs-4">
			</div>
		</div>
		<br>

		<div class = "row">
			<div class = "col-xs-2">
				<label>販売ステータス</label>
			</div>
			<div class = "col-xs-6">
				<lavel><%= f.radio_button :is_active, :true %>販売中</lavel>　
				<lavel><%= f.radio_button :is_active, :false %>品切れ</lavel>
			</div>
			<div class = "col-xs-4">
			</div>
		</div>
		<br>

		<div class = "row">
			<div class = "col-xs-offset-7">
				<%= f.submit "新規登録", class: "btn btn-primary" %>
			</div>
		</div>
	</div>
</div>
<% end %>

