<h3>注文履歴詳細</h3>


<%= form_for(@order, url: admin_order_path(@order)) do |f| %>
	<div class = "row">
		<div class = "col-xs-1">
		</div>
		<div class = "col-xs-2">
			<lavel>購入者</lavel>
		</div>
		<div class = "col-xs-9">
			<%= @order.end_user.last_name + "　" + @order.end_user.first_name %>
		</div>
	</div>

	<div class = "row">
		<div class = "col-xs-1">
		</div>
		<div class = "col-xs-2">
			<lavel>配送先</lavel>
		</div>
		<div class = "col-xs-9">
			<%= "〒" + @order.postal_code + " " + @order.destination_address %><br>
			<%= @order.consignee %>
		</div>
	</div>


	<div class = "row">
		<div class = "col-xs-1">
		</div>
		<div class = "col-xs-2">
			<lavel>支払方法</lavel>
		</div>
		<div class = "col-xs-9">
			<%= @order.payment_method_i18n %>
		</div>
	</div>

	<div class = "row">
		<div class = "col-xs-1">
		</div>
		<div class = "col-xs-2">
			<lavel>注文ステータス</lavel>
		</div>
		<div class = "col-xs-2">
			<%= f.select :status, Order.statuses.keys.map {|k| [I18n.t("enums.order.status.#{k}"), k]} %>
		</div>
		<div class = "col-xs-2">
			<%= f.submit "更新", class: "btn btn-primary" %>
		</div>
	</div>
<% end %>
<br><br>
<div class = "row">
	<div class = "col-xs-1">
	</div>
	<div class = "col-xs-7">
		<table class = "table">
			<tr>
				<th>商品名</th>
				<th>単価(税込)</th>
				<th>小計</th>
				<th>製作ステータス</th>
				<th></th>
			</tr>

			<% @order_details.each do |detail| %>
				<tr>
					<% sum = 0 %>
					<%= form_for(detail, url: admin_order_path(@order)) do |f| %>
						<td><%= detail.item.name %></td>
						<td>
							<% taxed_price = detail.non_taxed_price * 1.1 %>
							<%= taxed_price.ceil %>
						</td>
						<td><%= detail.amount %></td>
						<td>
							<%= f.select :production_status, OrderDetail.production_statuses.keys.map {|k| [I18n.t("enums.order_detail.production_status.#{k}"), k]} %>
						</td>
						<td><%= f.submit "更新", class: "btn btn-primary" %></td>

						<% sum += detail.amount * taxed_price.ceil %>
					<% end %>
				</tr>
			<% end %>
		</table>
	</div>
	<div class = "col-xs-4">
		<div class = "row">
			<div class = "col-xs-1">
			</div>
			<div class = "col-xs-4">
				<lavel>商品合計</lavel>
			</div>
			<div class = "col-xs-7">
				<%# sum %>円
			</div>
		</div>

		<div class = "row">
			<div class = "col-xs-1">
			</div>
			<div class = "col-xs-4">
				<lavel>送料</lavel>
			</div>
			<div class = "col-xs-7">
				<%= @order.postage %>円
			</div>
		</div>

		<div class = "row">
			<div class = "col-xs-1">
			</div>
			<div class = "col-xs-4">
				<lavel>請求金額合計</lavel>
			</div>
			<div class = "col-xs-7">
				<%= @order.total_payment %>
			</div>
		</div>
	</div>
