<div class = "row">
	<div class = "col-xs-offset-2">
		<h3>ジャンル編集</h3>
	</div>
</div>
<br>

<%= render "admin/admins/shared/error_messages", resource: @genre %>

<div class = "row">
	<%= form_for(@genre, url: admin_genre_path) do |f| %>
		<div class = "col-xs-1">
		</div>
		<div class = "col-xs-1">
			<label>ジャンル</label>
		</div>
		<div class = "col-xs-2">
			<%= f.text_field :name %>
		</div>
		<div class = "col-xs-1">
			<lavel><%= f.radio_button :is_active, :true %>有効</lavel>
		</div>
		<div class = "col-xs-1">
			<lavel><%= f.radio_button :is_active, :false %>無効</lavel>
		</div>
		<div class = "col-xs-1">
			<%= f.submit "変更を保存する", class: "btn btn-primary" %>
		</div>
	<% end %>
</div>