

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <span>会員の方はこちらからログイン</span><br>
  <div class="field">
    <label>メールアドレス</label>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <label>パスワード</label>
    <%= f.password_field :password, autocomplete: "current-password" %><br>
    <%= link_to "パスワードを忘れた方はこちら", new_end_user_password_path %>
  </div>


  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<div class = "link">
  <span>登録がお済でない方</span><br>
  <p><%= link_to "こちら", new_end_user_registration_path %>からログインしてください</p>
</div>