<div class = "row">
	<div class = "col-xs-offset-2">
		<h3>注文情報入力</h3>
	</div>
</div>

<%= form_for(@order, url:order_confirm_path) do |f| %>
	<div class = "row">
		<div class = "col-xs-12">
			<p><strong>支払い方法</strong></p>
		</div>
	</div>
	<div class = "row">
		<div class = "col-xs-1">
		</div>
		<div class = "col-xs-11">
			<%= f.collection_radio_buttons :payment_method, Order.payment_methods_i18n, :first, :last  do |b| %>
				<%= b.label {b.radio_button + " " + b.text} %><br>
			<% end %>
		</div>
	</div>

	<div class = "row">
		<div class = "col-xs-12">
			<p><strong>お届け先</strong></p>
		</div>
	</div>
	<div class = "row">
		<div class = "col-xs-1">
		</div>
		<!-- ラジオボタンの選択によってaddress_optionを設定する -->
		<div class = "col-xs-11">
			<label><%= f.radio_button :address_option, 0, checked: true %> ご自身の住所</label><br>
				<%= current_end_user.postal_code + "　" + current_end_user.address %><br>
				<%= current_end_user.last_name + "　" + current_end_user.first_name %><br>
			<label><%= f.radio_button :address_option, 1 %> 登録済み住所から選択</label><br>
				<%= f.collection_select :id, @addresses, :id, :view_address, :prompt => "--選択してください--" %><br>
			<label><%= f.radio_button :address_option, 2 %> 新規住所</label><br>
			<label>郵便番号</label><%= f.text_field :postal_code %><br>
			<label>住所</label><%= f.text_field :destination_address %><br>
			<label>宛名</label><%= f.text_field :consignee %><br>
		</div>
	</div>

	<div class = "row">
		<div class = "col-xs-offset-4">
			<%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
		</div>
	</div>

<% end %>