<div class = "row">
	<div class = "col-xs-1">
	</div>
	<div class = "col-xs-2">
		<div class = "genre box" style = "margin: 0px auto; width: 90%; margin-top: 50px;">
			<div class = "genre title" style = "width: 100%; text-align: center;">
				<h4>ジャンル検索</h4>
			</div>

			<div class = "select genres" style = "font-size: 17px;">
				<% @genres.each do |genre| %>
					<%= genre.name %>
					<br><br>
				<% end %>
			</div>
		</div>
	</div>
	<div class = "col-xs-1">
	</div>
	<div class = "col-xs-8">
		<div class = "row">
			<div class = "col-xs-2">
				<h3>商品一覧</h3>
			</div>
			<div class = "col-xs-2">
				<h4 style = "line-height: 56px;">全<%= @items.count %>件</h4>
			</div>
			<div class = "col-xs-8">
			</div>
		</div>

		<div class = "row">
			<div class = "clearfix">
				<% @items.each do |item| %>
					<div class = "items">
						<%= attachment_image_tag item, :item_image, size: "190x150", fallback: "no_image.jpg" %><br>
						<label><%= link_to item.name, item_path(item) %></label><br>
						<label>￥<%= item.non_taxed_price %></label>
					</div>
				<% end %>
			</div>
		</div>

<br>


	</div>
</div>

